section {
	padding-top: 6rem;
}

#syarat ul li {
	padding-bottom: 0.8rem;
}

nav {
	background-color: rgb(73, 147, 160);
}

#hero {
	background-color: #fff;
}

.justify {
	text-align: justify;
}

#timeline {
	background-color: rgb(195, 197, 202);
}

#syarat {
	background-color: #99d9e4;
}

#link-daftar {
	background-color: rgb(195, 197, 202);
}

#kontak {
	background-color: #fff;
}

footer {
	background-color: #4993a0;
}

/* abu 149 150 152 */
/* birumuda 140 212 224 */
